html {
  background-image: url("https://images.unsplash.com/photo-1457732815361-daa98277e9c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-image: url("../images/10730.jpg");
  z-index: -1;
  /* background-attachment: fixed; */
  scroll-behavior: smooth;
  height: 100vh;
  /* transform: rotate(90deg); */
  background-attachment: fixed;

  /* background-size: cover;
  background-position: 0 0;
  background-repeat: repeat-x;
  animation: animate 15s linear infinite; */
  /* background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%); */
}

#intro1 {
  height: 100%;
  width: 50vw;
  background-color: #ffcb9ab6;
  position: fixed;
  top: 0;
  z-index: -1;
}
#intro2 {
  height: 100%;
  width: 50vw;
  background-color: #116566ab;
  position: fixed;
  top: 0;
  z-index: -1;
}

.intro1{
  -webkit-animation-name: intro1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: intro1;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.intro2{
  -webkit-animation-name: intro2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: intro2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes intro1{
  0% {
    right: 50%;
    top: 0px;
  }
  100% {
    right: 100%;
    top: 0px;
  }
}
@keyframes intro2{
  0% {
    left: 50%;
    top: 0px;
  }
  100% {
    left: 100%;
    top: 0px;
  }
}

h6 {
  text-align: center;
  color: white;
  -webkit-animation-name: welcome; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: welcome;
  animation-duration: 4s;
}
#welcome{
  font-size: 5em;
  margin-top: 50%;
  font-family: serif;
  z-index: 10;
}
.wel {
  text-align: right;
}

.come {
  text-align: left;
}

.profilePic{
  width: 15%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 5px;
}


@keyframes welcome {
  0% {
    left: -200px;
    top: 0px;
    transform: rotate(30deg);
  }
  50% {
    left: 200px;
    top: 0px;
    transform: rotate(-30deg);
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  color: #116466;
}

h1,
h2,
h3,
h4 {
  color: #2c3531;
  font-family: 'Big Shoulders Text';
  

}

ul {
  margin-left: 0px;
}

img.profile-pic {
  text-align: right;
  width: 14%;
  margin-left: 75%;
  margin-top: 2%;
  position: absolute;
  border: solid #ffcb9a;
  border-width: 6px 0px 0px 6px;

}
/* 
.header {
  color: rgba(255, 255, 255, 0.774);
} */

div > header > ul.menu {
  list-style: none;
  float: right;
  font-family: serif;
  font-size: 150%;
  z-index: 10;
}

h1.header{
  margin-top: 0px;
}

a {
  text-shadow: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

/* Underline menu */

.nav-link {
  text-decoration: none;
  padding: 10px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #116466;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.portfoliotext {
  display: inline;
  font-size: 280%;
  font-family: serif;
  color: #116466;
  position: relative;
  -webkit-animation-name: portfolio;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-direction: alternate-reverse;
  animation-name: portfolio;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  /* margin: 3rem auto;
  padding: 0 5rem; */
}

@-webkit-keyframes portfolio {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: -50px;
    top: 0px;
  }
}

.about-pic {
  margin-top: 100px;
  border-radius: 10px;
  opacity: 20%;
  width: 60%;
  margin: auto;
  display: block;
}

.contact-pic1 {
  width: 30%;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
}
.contact-pic2 {
  width: 30%;
  height: auto;
  margin: auto;
}

.git-pic {
  width: 200px;
  height: 80px;
  border-radius: 10px;
}

.link-div {
  text-align: right;
  margin: 0 auto;
}

.footer {
  /* background-color: rgb(167, 167, 167); */
  /* background-image: url("../images/footer-background\ \(1\).png"); */
  /* background-size: cover; */
  background-color: #d9b08c;
  background-color: #ffcb9a;
  height: 50%;
  margin: 0px;
  padding: 0px;
  z-index: 10;
}
footer{
  position: relative;
}

.footer-menu {
  text-align: center;
  margin-top: 20px;
  color: #116466;
  text-decoration: none;
  padding: 10px 30px 0 30px;
  font-size: 22px;
}
.footer-menu > li {
  padding: 20px 30px 0 30px;
  background-image: none;
}

.h-menu {
  background-image: none;
  margin: 0px 5px 0px 5px;
  color: #116466;
  padding: 10px;
}
.h-menu:hover {
  color: #39af97;
}

.footer-contact {
  list-style: none;
  text-align: center;
}
.footer-contact > li > h4 {
  margin: 0px;
  padding: 0px;
}

.logo-pics > a > img {
  margin: 0px 10px 0px 10px;
  width: 3%;
  border-radius: 50%;
  transition: 0.3s;
}
.logo-pics > a {
  background-image: none;
}

.logo-pics > a > img:hover {
  /* background-color: #2e5dc5; */
  border-radius: 5px;
}

/* Phone-pic */

.phone-pic:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
/* Phone-pic */

.phone-pic {
  transition: 0.3s;
  margin: 0px;
}
footer > ul > li > p {
  font-size: 15px;
}

nav {
  position: fixed;
  top: 0;
  display: inline;
  margin-left: 12px;
}

ul#navbar.menu {
  margin-left: -10%;
  display: grid;
}

/* Menu-top */
#slide {
  left: -100px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1.5s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  position: fixed;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
/* Menu-top */

/* Animation */
.box-area {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  overflow: hidden;
  z-index: -10;
}
.box-area li {
  position: absolute;
  display: block;
  list-style-type: none;
  width: 25px;
  height: 25px;
  background: #f5bb3f38;
  animation: animate 20s linear infinite;
  bottom: 0;
  
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 90px;
  height: 90px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
  left: 9%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 50%;
  width: 250px;
  height: 250px;
  animation-delay: 0s;
}
.box-area li:nth-child(6) {
  left: 35%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 3.5s;
}

.korv{
  position:relative;
}
.animation-area{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}
.margin-top{
  margin: 0;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    top: 100%;
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(360deg);
    top: -10%;
    opacity: 1;
  }
}
/* Animation */

#projects{
  margin: 0;
}


#card {
  width: 75%;
  height: 60vh;
  background: grey;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  border: 10px solid white;
  border-bottom: 35px solid white;
  display: block;
  margin: 20px auto;
}

div.card{
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

#card:hover {
  box-shadow: 0px 90px 130px -10px rgba(0, 0, 0, 0.555);
}

#card>a>p{
  /* transform: rotate(90deg); */
  font-size: 25px;
  margin-bottom: 0px;
  text-align: center;
  margin: auto;
  color: #ffcb9a;
  font-family: 'Work Sans',sans-serif;
}

#card>a>p:hover{
  color: #c7813f;
}

@media only screen and (max-width: 700px) {
  .profilePic{
    display: none;
  }
  header{
    margin-top: 10%;
  }
  a.h-menu.nav-link.nav-link-ltr{
    display: contents;
  }
  menu{
    display: inline-block;
  }

  #card>a>p{
    font-size: 20px;
  }
  .logo-pics > a > img{
    width: auto;
  }
  div#card{
    width: auto;
    height: 40vh; 
  }
  img.profile-pic{
    margin-top: 14%;
    width: 24%;
    position: relative;
    margin-bottom: 0px;
  }
  .Head{
    position: relative;
  }
  ul#navbar.menu>a{
    display: inline-block;
  }
  /* .footer-m>a{
    padding: 10px;
  } */
  
}