html {
  background-image: url("../images/portfolio-bc2.desc.svg");
  z-index: -1;
  scroll-behavior: smooth;
  height: 100vh;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}
body {
  margin-bottom: 0px;
}
.intro {
  height: 100%;
  width: 25vw;
  position: fixed;
  top: 0;
  z-index: -1;
}
.intro-s{
  width: 26vw;

}

.i1 {
  background-color: #000000;
  background-color: #222831;
  background-color: #ffffff;
  z-index: 1;
  -webkit-animation-name: i1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: i1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.i2 {
  background-color: #000000;
  background-color: #222831;
  background-color: #ffffff;
  -webkit-animation-name: i2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: i2;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  z-index: 2;
}

.i3 {
  background-color: #000000;
  background-color: #222831;
  background-color: #ffffff;
  right: 0;
  -webkit-animation-name: i3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: i3;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  z-index: 2;
}
.i4 {
  background-color: #000000;
  background-color: #222831;
  background-color: #ffffff;
  right: 0;
  z-index: 1;
  -webkit-animation-name: i4; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  animation-name: i4;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes i1 {
  0% {
    transform: translate3d(0%, 0, 0);
    top: 0px;
  }
  50% {
    transform: translate3d(0%, 0, 0);
    top: 0px;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    top: 0px;
  }
}
@keyframes i2 {
  0% {
    transform: translate3d(100%, 0, 0);
    top: 0px;
    opacity: 1;
  }
  30% {
    transform: translate3d(100%, 0, 0);
    top: 0px;
    opacity: 1;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    top: 0px;
    opacity: 0;
  }
}
@keyframes i3 {
  0% {
    transform: translate3d(-100%, 0, 0);
    top: 0px;
    opacity: 1;
  }
  30% {
    transform: translate3d(-100%, 0, 0);
    top: 0px;
    opacity: 1;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    top: 0px;
    opacity: 0;
  }
}
@keyframes i4 {
  0% {
    transform: translate3d(0%, 0, 0);
    top: 0px;
  }
  50% {
    transform: translate3d(0%, 0, 0);
    top: 0px;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    top: 0px;
  }
}

h6 {
  text-align: center;
  color: white;
  -webkit-animation-name: welcome; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: welcome;
  animation-duration: 4s;
}
#welcome {
  font-size: 5em;
  margin-top: 60%;
  font-family: serif;
  z-index: 10;
}

.wel {
  text-align: right;
  /* margin-left: 40px; */
}

.come {
  text-align: left;
}
/* Menu-top */
#slide {
  left: -150px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 1.5s;
  animation: slide 0.5s forwards;
  animation-delay: 7s;
  position: fixed;
  z-index: 10;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.h-menu {
  background-image: none;
  margin: 0px 5px 0px 5px;
  color: #116466;
  padding: 10px;
}
.h-menu:hover {
  color: #39af97;
}
/* Menu-top */

.profilePic {
  width: 50%;
  margin-bottom: 0px;
}

.hoverToSee {
  margin-left: 75%;
  font-family: "Vibes", cursive;
  position: absolute;
}

@keyframes welcome {
  0% {
    left: -200px;
    top: 0px;
    transform: rotate(90deg);
  }
  50% {
    left: 200px;
    top: 0px;
    transform: rotate(0deg);
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  color: #116466;
}

h1,
h2,
h3,
h4 {
  color: #2c3531;
  font-family: "Big Shoulders Text";
}

ul {
  margin-left: 0px;
}

div.PP {
  margin-left: 75%;
  margin-top: 2%;
  position: absolute;
  border: solid #2c3531;
  border-width: 4px 4px 4px 4px;
  width: 17%;
  height: auto;
}

div.PP img {
  margin-bottom: -10px;
  opacity: 0;
  transition: opacity 3.5s ease-in-out;
  -moz-transition: opacity 3.5s ease-in-out;
  -webkit-transition: opacity 3.5s ease-in-out;
}

div.PP:hover img {
  box-shadow: 0px 0px 130px 0px rgba(0, 0, 0, 0.267);
  margin-bottom: -10px;
  opacity: 1;
  transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
}

.profileContainer{
  position: absolute;
  bottom: 0;
}

.profileHeader{
  height: 100vh;
  position: relative;
}

div > header > ul.menu {
  list-style: none;
  float: right;
  font-family: serif;
  font-size: 150%;
  z-index: 10;
}

h1.header {
  margin-top: 0px;
}

a {
  text-shadow: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

/* Underline menu */

.nav-link {
  text-decoration: none;
  padding: 10px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  font-size: 25px;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #116466;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.portfoliotext {
  display: inline;
  font-size: 280%;
  font-family: serif;
  color: #116466;
  position: relative;
  -webkit-animation-name: portfolio;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-direction: alternate-reverse;
  animation-name: portfolio;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  /* margin: 3rem auto;
  padding: 0 5rem; */
}

@-webkit-keyframes portfolio {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 200px;
    top: 0px;
  }
  100% {
    left: -50px;
    top: 0px;
  }
}

.info-job {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border: 2px solid #116466;
  border: 2px solid #222831;
  margin:auto;
}
.info-job>p {
  margin: 10px;
}

.chart {
  margin-bottom: 7%;
  animation: bounce 2.5s ease-out infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: bounce;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

nav {
  position: fixed;
  top: 0;
  display: inline;
  margin-left: 12px;
}

ul#navbar.menu {
  margin-left: -10%;
  display: grid;
}

ul.courses > li {
  list-style: none;
  margin-bottom: 0px;
  border: 2px solid #116466;
  border: 2px solid #222831;
  border-style: none none solid solid;
  /* background-color: #d1e8e223; */
  padding: 0.8%;
  width: 100%;
  margin: 5px;
}
.row {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.right {
  height: 100%;
}

.right-pic {
  height: 66%;
  height: 95%;
  margin: auto 4% auto 4%;
  border-radius: 10px;
}
/* .right-pic:hover {
  box-shadow: 90px #ffffff69;
  background-color: #ffffff71;
} */

.relative {
  position: relative;
  margin-bottom: 0px;
}
.animation-area {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}
.margin-top {
  margin: 0;
}

#projects {
  margin: 0;
}

#card {
  width: 75%;
  height: 60vh;
  background: grey;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  border: 10px solid white;
  border-bottom: 35px solid white;
  display: block;
  margin: 20px auto;
}

div.card {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  text-align: center;
}

#card:hover {
  box-shadow: 0px 90px 130px -10px rgba(0, 0, 0, 0.555);
}

#card > a > p {
  font-size: 25px;
  margin-bottom: 0px;
  text-align: center;
  margin: auto;
  color: #ffcb9a;
  font-family: "Work Sans", sans-serif;
}

#card > a > p:hover {
  color: #c7813f;
}

div.projects {
  animation: projects 2.5s ease-out infinite;
  animation-duration: 2.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: projects;
  text-align: center;
}
/* Animation */
@keyframes projects {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    top: 100%;
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(360deg);
    top: -10%;
    opacity: 1;
  }
}
/* Footer */

.footer {
  background-size: cover;
  background-image: url("../images/footer-background3.png");
  object-fit: cover;
  height: 50%;
  margin: 0px;
  padding: 3px;
  z-index: 10;
}
footer {
  position: relative;
}

.footer-menu {
  text-align: center;
  color: #116466;
  text-decoration: none;
  font-size: 22px;
}
.footer-menu > li {
  padding: 20px 30px 0 30px;
  background-image: none;
}

.footer-contact {
  list-style: none;
  text-align: center;
}
.footer-contact > h3 {
  margin-top: 15px;
}

.footer-contact > li > h4 {
  margin: 0px;
  padding: 0px;
}

.logo-pics > a > img {
  margin: 0px 10px 0px 10px;
  width: 3%;
  border-radius: 50%;
  transition: 0.3s;
}
.logo-pics > a {
  background-image: none;
}

.logo-pics > a > img:hover {
  border-radius: 5px;
}

/* Phone-pic */

.phone-pic:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.phone-pic {
  transition: 0.3s;
  margin: 0px;
}
/* Phone-pic */

footer > ul > li > p {
  font-size: 15px;
}
/* Footer */

/* Animation */
.box-area {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -10;
}
.box-area li {
  position: absolute;
  display: block;
  list-style-type: none;
  width: 25px;
  height: 25px;
  background: #f5bb3f38;
  animation: animate 20s linear infinite;
  bottom: 0;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 12%;
  width: 90px;
  height: 90px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
  left: 9%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.box-area li:nth-child(5) {
  left: 50%;
  width: 250px;
  height: 250px;
  animation-delay: 0s;
}
.box-area li:nth-child(6) {
  left: 35%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 3.5s;
}

@media only screen and (max-width: 1073px) {
  body {
    width: 100%;
  }
  /* header {
    margin-top: 10%;
  } */
  #welcome {
    font-size: 2em;
  }
  div.PP img {
    opacity: 1;
  }
  div.Head > div > p {
    display: none;
  }
  div.card {
    background-size: cover;
  }
  #card {
    height: 50vh;
  }
  .info-job {
    display: block;

  }
}

@media only screen and (max-width: 800px) {
  html{
    background-image: url("../images/portfolio-bc-mobile2.svg");
    /* background-attachment: fixed;
    background-repeat: no-repeat; */
    background-repeat: repeat;
    scroll-behavior: smooth;
    background-position: left;

  }
  div.Head > div > p {
    display: none;
  }
  #welcome {
    font-size: 1em;
  }
  .profilePic {
    display: none;
  }
  
  .profileHeader{
    height: 65vh;
    height: 50vh;
  }

  .slide{
    display: none;
  }
  /* div.relative {
    padding-top: 20%;
  } */
  a.h-menu.nav-link.nav-link-ltr {
    display: block;
  }

  .Head {
    position: relative;
  }
  ul#navbar.menu > a {
    display: inline-block;
  }

  menu {
    display: inline-block;
    padding: 10%;
  }
  a.h-menu.nav-link.nav-link-ltr {

    padding: 5px;
}
  ul.menu > div {
    display: grid;
  }
  ul#navbar.menu {
    /* display: flex;
    margin-left: -10px; */
    display: none;
  }
  .nav-link {
    margin: 0px 12px;
  }
  #navbar{
    width: 100%;
    top: 0px;
    background-color: #ffcb9aab;
  }
  ul#navbar.menu>a {
    margin: 0px;
  }
  #slide{
    left: -300px;
  }
  #card > a > p {
    font-size: 20px;
  }
  .logo-pics > a > img {
    width: auto;
  }
  div#card {
    width: 34vh;
    height: 26vh;
  }

  div.PP {
    /* position: absolute;
    width: 68%;
    margin-left: 15%;
    margin-top: 15%; */
    position: absolute;
    width: 68%;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
  }
  div.PP {
    border: none;
  }

  div.PP img {
    opacity: 1;
    width: 50%;
    margin: 0 auto;
    float: right;
    border-style: none none solid none;
  }

  .right {
    display: none;
  }
  .row {
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-m{
    display: inline-flex;
  }

  /* div.card {
    background-size: contain;
  } */
}
